/* pc */
@media (min-width: 992px){
    .mobile-header{
        display: none;
    }

}

/* tablet & mobile */
@media (max-width:991.98px ){
    /* an navbar */
    .navbar{
        display: none;
    }

    /* chuyen logo vao giua */
    .header__top{
        position: relative;

    }
    .header__logo{
        position: absolute;
        left:50%;
        translate: -50% -50%;
    }

    .menu-header__icon{
        position: absolute;
        top:38px;
        left:26px;
        width: 24px;
    }
 
    .menu-overlay{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        inset:0;
        z-index: 1;
        /* binh thuong an overlay di */
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .menu-checkbox:checked ~.menu-overlay{
        opacity: 1;
        visibility: visible;
    }

    .menu-drawer{
        position: fixed;
        background-color: #2e1919;
        inset: 0 40% 0 0 ;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s;
        padding: 60px;
    }

    .menu-checkbox:checked~.menu-drawer{
        transform: translateX(0);
    }

    .close__menu{
        width: 24px;
        color: #fff;
    }

    .menu-drawer__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__list{
        margin-top: 25px;
        flex-direction: column;
    }

    #navbar__list--mobile{
        margin-top: 25px;
    }

    .navbar__link{
        display: block;
        font-size: 2rem;
        text-align: start;
    }

    .navbar__link:hover{
        background-color: #00ffff37;
    }

}

/* tablet */
@media (min-width: 768px ) and (max-width: 991.98px) {
    
}
/* mobile */
@media (max-width:767.98px){
    
}

.hero, .footer,main{display: none;}